<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.class22b_and_homeexe_vadim_lazarevich_317785053">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Class22BAndHomeExe_Vadim_Lazarevich_317785053"
        >
        <activity
            android:name=".activities.Activity_PlayerDetails"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBArJwrZ8izj6on1_Ysgy_0JXmZVkuCRwQ" />

        <activity
            android:name=".activities.Activity_Leaderboards"
            android:exported="false" />
        <activity
            android:name=".activities.Activity_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activity_Game"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>